.main{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.container h1{
  color: #5F1478;
  font-weight: 300;
  margin-top: 40px;
}

.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}